.services-border{
    border: 2px solid cyan;  
}

.cart{
    /* background-color: #34495E  ;  */
    height: 90%;
    margin: 5px;
    margin-left: 7px;
    border: 1px solid gray;
    /* color: dark; */
    background-color:rgb(66 193 187 / 15%);
    border-radius: 10px;
    box-shadow: 50px;
}

.img-wrap{
     height: 200px;
     width: 90%;
     /* overflow-y: hidden; */
     object-fit: contain;

}

.text-style{
    font-family: 'Poppins', sans-serif;
    color: black;
}

@media only screen and (max-width: 600px) {
   .cart .img-wrap{
       margin-top: 20px;
   }
  }
