.col-md-3{
/* padding: 0 30px; */
}
.col-md-4 .cart-border{
    /* background-color: #34495E  ;  */
    background-color: #ffff;
    border: 1px solid gray;
    width: 70%;
    height: 85%;
    margin-left: 70px;
    /* background-color:rgb(66 193 187 / 15%); */
    /* background-color:rgba(66, 143, 193, 0.44); */
    border-radius: 10px;
    box-shadow: 100px;
}

.div-image{
   overflow: hidden; 
   border-radius: 7px;
}
.div-image img{
transition: 1s;
}

.div-image img:hover{
    transform: scale(1.2);
}

.img-wrap{
    margin-top: 10px;
    height: 200px;
    width: calc(100% - 20px);
    /* width: 100%; */
     /* overflow-y: hidden; */
     /* object-fit: contain; */
}

.text-style{
    font-family: 'Poppins', sans-serif;
    color: black;
}

@media only screen and (max-width: 600px) {
   .cart .img-wrap{
       margin-top: 20px;
   }
  }
