.about-body{
    /* border: 2px solid gray; */
    /* margin: 5px;
    margin-left: 7px; */
    /* color: aliceblue; */
    /* background: url('https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-size: cover;
    padding: 0 30px;
}
.about-body p{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    text-align: justify;
    padding-bottom: 25px;
}

.image-box{
   width: 100%; 
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   /* grid-template-rows: repeat(8, 5vw); */
   grid-gap: 15px;
   padding-bottom:15px;
}
.image-box img{
    width: 100%;
    height: 90%;
    /* padding: 10px; */
    text-align: center;
}

.progress-box{
    background-color:var(--bs-info);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 15px;
}

.progress-box .progress-container{
    background-color:#fff;
    margin: 20px 8px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px;
    width: 250px;
    height: 220px;   
}


@media only screen and (max-width: 600px) {
     .image-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr); ;
    }

    .progress-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr); ;
    }

    .progress-box .progress-container{
        padding-bottom:40px;
    }
    .video-div iframe {
        width: 100%;
    }
  
   }
 