.test-body{
    color: #fff;
   list-style: none;
  /* padding-top: 50px; */
  padding: 50px 20px 0px;
  background-color: #30475E;
  /* background: url('');
  background-size: cover; */
  }
  
  .test-body h3{
    border-radius: 100px;
  }

  .test-body h3, i{
   color: #12cdda;
   border-radius: 50px;
  }

  .container-4 img {
      width: 50%;
      border-radius: 10px;
  }
  
  .row hr{
    /* border: 1px solid #fff; */
    margin-top: 50px;
  }
  
  .foo-style{
    /* display: inline-block; */
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
  
  }
  
  @media only screen and (max-width: 600px){
    .foo-style{
      display: flex;
      flex-direction: column;
    }
  }